<!-- Widgets -->
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-zoom-effect">
            <div class="icon icon_clrs4">
                <i class="material-icons">motorcycle</i>
            </div>
            <div class="content">
                <div class="text">ORDERS</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">{{ totalOrders }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-purple hover-zoom-effect">
            <div class="icon icon_clrs1">
                <i class="material-icons">room_service</i>
            </div>
            <div class="content">
                <div class="text">DISHES</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">{{ dishes }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-zoom-effect">
            <div class="icon icon_clrs2">
                <i class="material-icons">thumb_down</i>
            </div>
            <div class="content">
                <div class="text">REJECTED ORDERS</div>
                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">{{ rejectedOrders }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-black hover-zoom-effect">
            <div class="icon icon_clrs3">
                <i class="material-icons">attach_money</i>
            </div>
            <div class="content">
                <div class="text">TOTAL EARNINGS</div>
                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">{{ totalIncome }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-black hover-zoom-effect">
            <div class="icon icon_clrs3">
                <i class="material-icons">attach_money</i>
            </div>
            <div class="content">
                <div class="text">BALANCE</div>
                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">{{ balance }}</div>
            </div>
        </div>
    </div>    
  </div>
  <!-- #END# Widgets -->
  